.dashboard-cameraAndTasks {
  display: flex;
}
.dashboard-cameraAndTasks h1 {
  margin-top: 5px;
}
.dashboard-camera-container {
  flex: 0 0 auto;
  margin-right: 15px;
}
.dashboard-camera-video {
  border: 1px solid #DDD;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.dashboard-tests-container .list-item:first-child {
  font-size: 18px;
}
.dashboard-cameraAndTasks .list-item > td:first-child {
  max-width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.currentProgram-title {
  margin-top: 0;
}
.currentProgram-nameAndStatus {
  display: flex;
  height: 50px;
}
.currentProgram-status {
  flex: 0 0 auto;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background-color: #F5F5F5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.currentProgram-status.is-offline {
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
}
.currentProgram-status.is-online {
  background-color: #428BCA;
}
.currentProgram-status.is-testing {
  background-color: #fe0;
}
.currentProgram-name {
  flex: 1 1 auto;
  vertical-align: top;
  height: 50px;
  font-size: 40px;
  line-height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.currentProgram-progress-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 45px;
}
.currentProgram-progress-value.is-halfway {
  color: #fff;
}
.currentProgram-progress {
  display: flex;
  margin-top: 15px;
}
.currentProgram-progress .progress {
  position: relative;
  margin-bottom: 0;
  width: 100%;
  height: 50px;
}
.currentProgress-progress .progress-bar {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.currentProgram-progress-hrs {
  flex: 1 0 auto;
  margin-left: 15px;
  padding: 0 5px;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  background-color: #F5F5F5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.currentProgram-progress-hrs.is-waiting {
  background-color: #428BCA;
  color: #fff;
}
.currentProgram-progress-hrs.is-on {
  background-color: #fe0;
}
.currentProgram-progress-hrs.is-finished {
  background-color: #5CB85C;
  color: #fff;
}

.currentState {
  margin-left: -15px;
}
.currentState-title {
  margin-left: 15px;
}
.currentState-tags {
  display: flex;
  flex-wrap: wrap;
}
.currentState-tag {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  margin-left: 15px;
  margin-bottom: 15px;
  border: 1px solid #DDD;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;
  font-size: 45px;
  line-height: 1;
}
.currentState-tag-name {
  margin: 0 7px 0 15px;
  text-align: center;
  line-height: 64px;
  height: 64px;
}
.currentState-tag-value {
  flex: 1 0 auto;
  margin: 7px;
  padding: 0 7px;
  background-color: #F5F5F5;
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 50px;
  height: 50px;
}
.currentState-tag-extreme {
  position: absolute;
  padding: 4px;
  min-width: 30px;
  text-align: center;
  font-size: 12px;
  background-color: #FA0;
  color: #fff;
  line-height: 1;
}
.currentState-tag-extreme.is-min {
  bottom: -6px;
  right: -6px;
}
.currentState-tag-extreme.is-max {
  top: -6px;
  right: -6px;
}
.currentState-tag[data-tag="current"] {
  min-width: 185px;
}
.currentState-tag[data-tag="voltage"] {
  min-width: 185px;
}
.currentState-tag[data-tag="temperature"] {
  min-width: 120px;
}
.currentState-tag[data-tag="light.1"],
.currentState-tag[data-tag="light.2"] {
  min-width: 180px;
}
.modal-open .dashboard-gallery-dialog {
  overflow: hidden;
  padding-right: 0!important;
}
.dashboard-gallery-dialog .modal-dialog {
  width: auto;
  margin: 30px 30px 0 30px;
}
.dashboard-gallery-dialog .modal-body {
  padding: 0;
}
.dashboard-gallery-thumbnails {
  display: flex;
  flex: 0;
  overflow-x: scroll;
}
.dashboard-gallery-thumbnail {
  min-width: 60px;
  flex: 0 0 auto;
  outline-offset: -5px;
  outline: 5px solid transparent;
  cursor: pointer;
}
.dashboard-gallery-thumbnail.is-active {
  outline-color: #fa0;
}
.dashboard-gallery-thumbnail:hover {
  outline-color: #0af;
}
.dashboard-gallery-thumbnail > img {
  max-width: 192px;
  max-height: 108px;
}
.dashboard-gallery-preview {
  position: relative;
  overflow: scroll;
  text-align: center;
}
.dashboard-gallery-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background: rgba(0, 0, 0, .75);
  color: #fff;
  font-weight: bold;
}
.dashboard-list {
  overflow-y: scroll;
  border: 1px solid #ccc;
}
.dashboard-list > .btn-lg {
  margin: 0;
  font-size: 35px;
  text-align: left;
  border-left: none;
  border-bottom: none;
}
.dashboard-list > .btn-lg:first-child {
  border-top: none;
}
.dashboard-list > .dashboard-list-last {
  border-top: 1px solid #ccc;
  height: 64px;
}
.dashboard-list-last:only-child {
  display: none;
}
.dashboard-list .fa-spinner {
  padding: 10px;
  font-size: 42px;
}
@media screen and (max-width: 1024px) {
  .currentState-tag {
    font-size: 32px;
  }
  .currentState-tag[data-tag="current"],
  .currentState-tag[data-tag="voltage"] {
    min-width: 145px;
  }
  .currentState-tag[data-tag="temperature"] {
    min-width: 100px;
  }
  .currentState-tag[data-tag="light.1"],
  .currentState-tag[data-tag="light.2"] {
    min-width: 140px;
  }
  .currentState-tag-name {
    line-height: 59px;
    height: 59px;
  }
  .currentState-tag-value {
    line-height: 45px;
    height: 45px;
  }
}
