<div>
  <div class="tests-details-container"></div>
  <div class="tests-program-container"></div>
  <div class="panel panel-default">
    <div class="panel-heading"><%- helpers.t('PANEL:TITLE:charts') %></div>
    <div class="panel-body tests-charts-container"></div>
  </div>
</div>
