<div class="currentState">
  <h1 class="currentState-title">Aktualny stan</h1>
  <div class="currentState-tags">
    <div class="currentState-tag" data-tag="totalDuration">
      <div class="currentState-tag-name"><i class="fa fa-clock-o"></i></div>
      <div class="currentState-tag-value">00:00:00</div>
    </div>
    <div class="currentState-tag" data-tag="current">
      <div class="currentState-tag-name">I</div>
      <div class="currentState-tag-value" data-suffix="A" data-decimals="1">000</div>
      <div class="currentState-tag-extreme is-min">000</div>
      <div class="currentState-tag-extreme is-max">000</div>
    </div>
    <div class="currentState-tag" data-tag="voltage">
      <div class="currentState-tag-name">U</div>
      <div class="currentState-tag-value" data-suffix="V">000</div>
    </div>
    <div class="currentState-tag" data-tag="temperature">
      <div class="currentState-tag-name"><i class="wi wi-thermometer"></i></div>
      <div class="currentState-tag-value">00</div>
    </div>
    <div class="currentState-tag" data-tag="light.1">
      <div class="currentState-tag-name"><i class="fa fa-lightbulb-o"></i></div>
      <div class="currentState-tag-value">000</div>
      <div class="currentState-tag-extreme is-min">000</div>
    </div>
    <div class="currentState-tag" data-tag="light.2">
      <div class="currentState-tag-name"><i class="fa fa-lightbulb-o"></i></div>
      <div class="currentState-tag-value">000</div>
      <div class="currentState-tag-extreme is-min">000</div>
    </div>
  </div>
</div>
