<div class="currentProgram">
  <h1 class="currentProgram-title"><%- t('dashboard', 'currentProgram:title:idle') %></h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="currentProgram-nameAndStatus">
        <div class="currentProgram-status"></div><!--
        //--><div id="<%- idPrefix %>-name" class="currentProgram-name"></div>
      </div><!--
      //--><div class="currentProgram-progress">
        <div class="progress">
          <div class="progress-bar progress-bar-success"></div>
          <div class="currentProgram-progress-value"></div>
        </div>
        <div class="currentProgram-progress-hrs is-waiting">9999</div>
        <div class="currentProgram-progress-hrs is-on">999</div>
        <div class="currentProgram-progress-hrs is-finished">99</div>
        <div class="currentProgram-progress-hrs">9</div>
      </div>
    </div>
  </div>
</div>
