<div>
  <div class="currentProgram-container"></div>
  <div class="currentState-container"></div>
  <% if (local) { %>
  <div class="dashboard-cameraAndTasks">
    <div class="dashboard-camera-container"></div>
    <div style="flex: 1 1 auto">
      <h1><%- t('dashboard', 'tests:title') %></h1>
      <div class="dashboard-tests-container"></div>
    </div>
  </div>
  <% } else { %>
  <h1><%- t('dashboard', 'tests:title') %></h1>
  <div class="dashboard-tests-container"></div>
  <% } %>
</div>
